:root {
	background-color: #181818;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Noyh";
	src: url("./assets/fonts/noyh.ttf");
}
